body {
    color: rgb(242, 214, 179);
    background: rgb(69, 2, 2);
    margin: 0px;
    font-family: "Montagu Slab", serif;
}

header {
    border-bottom: solid 7px rgba(242, 220, 161, 0.82);
    padding: 20px;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    color: rgb(240, 205, 162);
}

.chamada {
    background: rgb(7, 0, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    color: rgb(239, 212, 179);
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 35px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display:flex;
    overflow-x: auto;
    gap: 25px;
}

.categoria{
    padding-left: 30px;
    padding-right: 45px;
}

.categoria-videos img{
    opacity: 0.6;
    height: 200px;
}

.categoria-videos img:hover{
      opacity: 1.0;
      border: 8px solid rgb(33, 7, 3)
}