body {
    color: bisque;
    background: rgb(7, 7, 7);
    margin: 0px;
    font-family: "Montagu Slab", serif;
}

header {
    border-bottom: solid 7px rgba(106, 7, 7, 0.82);
    padding: 20px;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    color: bisque;
}

section {
    background: rgb(8, 8, 8);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    color: bisque;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 30px;
}

p {
    font-size: 15px;
}